body {
    background-image: url("./dog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.name-header,.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
}

.logInDiv {
    display: flex;
    flex-direction:column;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    width: 200px;
    margin: 20px;
}

.logInDivHide {
    display: none;
}

.welcomeDiv{
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    padding-left: 10px;
    margin: 20px;
}

.welcomeDivHide {
    display: none;
}

.logInDiv-item {
    margin: 8px;
}

.rules {
    background-color: lightgreen;
}

#h2-rules,#p-rules {
    margin: 8px;
}

h1,#p-header {
    margin: 2px;
    text-align: center;
}

